[mysqld]

user=mysql

default-storage-engine=INNODB

#character-set-server=utf8

character-set-client-handshake=FALSE

character-set-server=utf8mb4

collation-server=utf8mb4_unicode_ci

init_connect='SET NAMES utf8mb4'

performance_schema_max_table_instances=400
table_definition_cache=400    #缓存
performance_schema=off    #用于监控MySQL server在一个较低级别的运行过程中的资源消耗、资源东西
table_open_cache=256    #打开表的缓存
innodb_buffer_pool_chunk_size=64M    #InnoDB缓冲池大小调整操作的块大小
innodb_buffer_pool_size=64M    #InnoDB 存储引擎的表数据和索引数据的最大内存缓冲区大小

#group_concat_max_len=1024
#group_concat_max_len=10240
group_concat_max_len=-1

[client]

#utf8mb4字符集可以存储emoji表情字符

#default-character-set=utf8

default-character-set=utf8mb4

[mysql]

#default-character-set=utf8

default-character-set=utf8mb4
